In [1]:
#first module with pandas

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [6]:
# ^ shows the numbers in the series, but gives them an index in the output

In [7]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
ww2_cas = Series([8.7,4.3,3.0,2.1,0.4],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8.7
Germany    4.3
China      3.0
Japan      2.1
USA        0.4
dtype: float64

In [11]:
ww2_cas['USA']

0.40000000000000002

In [12]:
#check array operations
#which had casualties greater than 4.0M?
ww2_cas[ww2_cas >4.]

USSR       8.7
Germany    4.3
dtype: float64

In [13]:
#can treat series as ordered python dictionary

In [14]:
'USSR' in ww2_cas

True

In [15]:
#convert to dictionary

In [16]:
ww2_dict = ww2_cas.to_dict()

In [17]:
ww2_dict

{'China': 3.0,
 'Germany': 4.2999999999999998,
 'Japan': 2.1000000000000001,
 'USA': 0.40000000000000002,
 'USSR': 8.6999999999999993}

In [19]:
#can turn dictionary into series
ww2_series = Series(ww2_dict)
ww2_series

China      3.0
Germany    4.3
Japan      2.1
USA        0.4
USSR       8.7
dtype: float64

In [20]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [21]:
obj2 = Series(ww2_dict, index = countries)

In [23]:
obj2 #created new series with old list, but indices from our countries list.
#Matched values, but argentina wasn't a previous value, so no number to match

China        3.0
Germany      4.3
Japan        2.1
USA          0.4
USSR         8.7
Argentina    NaN
dtype: float64

In [24]:
#pandas has built-in methods to find null values and the reverse

In [25]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [26]:
# ^ see?

In [27]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [28]:
ww2_series

China      3.0
Germany    4.3
Japan      2.1
USA        0.4
USSR       8.7
dtype: float64

In [29]:
#add series to series

In [30]:
obj2

China        3.0
Germany      4.3
Japan        2.1
USA          0.4
USSR         8.7
Argentina    NaN
dtype: float64

In [31]:
ww2_series + obj2

Argentina     NaN
China         6.0
Germany       8.6
Japan         4.2
USA           0.8
USSR         17.4
dtype: float64

In [32]:
#doubled things by index.  pandas dealt with that without our help

In [33]:
obj2.name = "World war 2 casualties"

In [34]:
obj2

China        3.0
Germany      4.3
Japan        2.1
USA          0.4
USSR         8.7
Argentina    NaN
Name: World war 2 casualties, dtype: float64

In [35]:
#name index
obj2.index.name = "Countries"

In [36]:
obj2

Countries
China        3.0
Germany      4.3
Japan        2.1
USA          0.4
USSR         8.7
Argentina    NaN
Name: World war 2 casualties, dtype: float64

In [37]:
#^ cool